body{
    background-color: black;
}

header{
    text-align: center;
    color: white;
    font-size: 30px;
    font-style: oblique;
}
h3{
    color: white;
    text-align: center;
}
#centro{
    width: 300px;
    height: 300px;
}
#line1{
    color: aliceblue;
    display: flex;
}
#line1_1,#line1_2{
    width: 50%;
    text-align: center;
}
#line2{
    color: aliceblue;
    display: flex;
}
#line2_1,#line2_2,#line2_3{
    width: 33%;
    text-align: center;
}
#line3{
    color: aliceblue;
    display: flex;
}
#line3_1,#line3_2{
    width: 50%;
    text-align: center;
}

